:root{
    --colorF: #bdbcbc;
    --colorH: #222831;
    --colorH2: #31363F;
    --colorBTN: #76ABAE;
    --altColor: #485576;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
    text-decoration: none;
    list-style: none;
}

body{
    background-color: var(--colorF);
}

main{
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.errorP{
    color: red;
}

/* INICIO HEADER */

header{
    background-color: var(--colorH);
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 20px;
    color: var(--colorBTN);
    height: 15vh;
    position: relative;
    bottom: 150px;
}

header .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 15px;
}

header .logo img{
    width: 100px;
    height: 12vh;
}

.prof{
    position: relative;
}

.prof ul{
    position: absolute;
    background-color: var(--colorH2);
    color: var(--colorBTN);
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    display: none;
    width: 15vh;
    border-radius: 10px;
    top: 100%;
    right: 0;
    z-index: 1;
}

.prof li:nth-child(2){
    border-top: white 1px solid;
    width: 100%;
}

.prof ul{
    cursor: pointer;
}

.prof ul li:hover{
    color: var(--altColor);
}

.prof:hover ul{
    display: flex;
}


header .prof img{
    height: 80px;
    width: 80px;
    border-radius: 100%;
    border-radius: 12px;
    cursor: pointer;
    object-fit: cover;
}

/* FIN HEADER */

.container{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* INICIO LOG IN */

.logS{
    background-color: var(--colorH2);
    color: var(--colorBTN);
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    padding: 25px;
    border-radius: 15px;
}

.log{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.log label{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    gap: 3px;
}

.log input{
    width: 40vh;
    height: 4vh;
    border: none;
    background-color: var(--colorF);
    border-radius: 8px;
    outline: none;
    padding: 5px;
}

.log button{
    width: 35vh;
    height: 5vh;
    border: none;
    background-color: var(--colorBTN);
    color: var(--colorH2);
    font-weight: 600;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
}

.log button:active{
    background-color: var(--altColor);
}

.logS a{
    color: var(--colorBTN);
    font-size: 2vh;
}

.logS a:hover{
    text-decoration: underline;
}

/* FIN LOGIN */

.regS{
    background-color: var(--colorH2);
    color: var(--colorBTN);
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    padding: 15px;
    border-radius: 15px;
    width: 50vh;
}

.regS form{
    width: 100%;
}

.reg{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.reg label{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    gap: 3px;
    width: 100%;
}

.reg input{
    height: 4vh;
    width: 100%;
    border: none;
    background-color: var(--colorF);
    border-radius: 8px;
    outline: none;
}

.reg button{
    width: 80%;
    height: 5vh;
    border: none;
    background-color: var(--colorBTN);
    color: var(--colorH2);
    font-weight: 600;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
}

.reg button:active{
    background-color: var(--altColor);
}

.regS a{
    color: var(--colorBTN);
    font-size: 2vh;
}

.regS a:hover{
    text-decoration: underline;
}

/* FIN REGISTER */

/* INICIO PROFILE */

.pfp{
    display: none;
    flex-direction: column;
    padding: 25px;
    gap: 10px;
    background-color: var(--colorH2);
    color: var(--colorBTN);
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 15px;
}

.pfp form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.pfp h2{
    font-size: 2vw;
}

.pfp form img{
    border-radius: 100%;
    width: 200px;
    height: 200px;
    object-fit: cover;
}

form #btnCh{
    width: 25vh;
    height: 4vh;
    border-radius: 10px;
    border: none;
    background-color: var(--colorBTN);
    cursor: pointer;
    font-weight: 600;
    font-size: 2vh;
}

.select{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
}

form .select button{
    width: 8vw;
    height: 4vh;
    border-radius: 10px;
    border: none;
    background-color: var(--colorBTN);
    cursor: pointer;
    font-weight: 500;
    font-size: 2vh;
}

form button:active{
    background-color: var(--altColor);
}

#btnCh:active{
    background-color: var(--altColor);
}

/* ANIMATIONS */

.show-card {
    animation: show-card 0.5s normal backwards;
}

.hide-card {
    animation: hide-card 0.5s normal forwards;
}

.show-h {
    animation: show-h 0.5s normal backwards;
}

.hide-h {
    animation: hide-h 0.5s normal forwards;
}

@keyframes hide-card {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
    to {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 1;
    }
}

@keyframes show-card {
    from {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }
    to {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes show-h {
    0% {
            -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
            opacity: 0;
    }
    100% {
            -webkit-transform: translateY(0);
            transform: translateY(0);
            opacity: 1;
    }
}

@keyframes hide-h {
    0% {
            -webkit-transform: translateY(0);
            transform: translateY(0);
            opacity: 1;
    }
    100% {
            -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
            opacity: 0;
    }
}

/* FIN PERFIL INICIO RESPONSIVE */

@media screen and (max-aspect-ratio: 4/3){
    header h1{
        display: none;
    }
}
